# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production
client/dist/
client/dist-ssr/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env
esp32/secrets.h
esp32/build/

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets
secrets.h
**/secrets.h